@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: #ffffff;
  --base-100-rgb: 255, 179, 0;
  --base-200-rgb: 102, 102, 102;
  --base-300-rgb: 237, 237, 237;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-rgb: #ab0303;
//     --base-100-rgb: 255, 179, 0;
//     --base-200-rgb: 255, 255, 255;
//     --base-300-rgb: 43, 42, 42;
//   }
// }

[class="dark"] {
  --background-rgb: #121212ff;
  --base-100-rgb: 255, 179, 0;
  --base-200-rgb: 255, 255, 255;
  --base-300-rgb: 43, 42, 42;
}

html,
body {
  @apply w-full h-full overflow-auto
}

body {
  background-color: var(--background-rgb);
}