.transform-15deg {
  transform: rotate(-15deg);
}

.hero-photo {
  background-image: url('/img/nacho_746X1020.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-photo-mobile {
  background-image: url('/img/nacho_746X746.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}